* {
}

.header {
    background-color: black;
}


.navdiv {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo a{ 
    display: flex;
    flex-grow: inherit;
    font-size: 65px;
    color: rgb(255, 6, 6);}

.navbutton {
    color: rgb(255, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    margin-right: 40px;

}

.Main_News_1 {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    height: 100%;
    width: 75vw;
    gap: 20px;
    background-color: rgb(255, 255, 255);
}


.card {
    border: 3px solid black;
     flex-wrap: wrap;
}





.footer{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 35px;
    display: flex;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
}